{% load sass_tags %}
{% load static %}

<!DOCTYPE HTML>

<html lang="en">
<head>
    <title>Wandering Waters</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--<link rel="stylesheet" href="assets/css/main.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="{% sass_src 'wanderingapp/sass/main.scss' %}" rel="stylesheet" type="text/css"/>

</head>
<body class="is-preload">

<!-- Header -->
<header id="header">

    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><strong>Wandering</strong>Waters</a>
    </div>

    <!-- Nav -->


</header>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section class="banner">
        <div class="image" data-position="right">
            <img
                    sizes="(max-width: 1680px) 100vw, 1680px"
                    srcset="
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_360.jpg' %} 360w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_544.jpg' %} 544w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_690.jpg' %} 690w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_810.jpg' %} 810w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1012.jpg' %} 1012w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1126.jpg' %} 1126w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1219.jpg' %} 1219w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1275.jpg' %} 1275w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1363.jpg' %} 1363w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1451.jpg' %} 1451w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1531.jpg' %} 1531w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1613.jpg' %} 1613w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1678.jpg' %} 1678w,
{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1680.jpg' %} 1680w"
                    src="{% static 'wanderingapp/images/couple-on-left_omtg3z_c_scale,w_1680.jpg' %}"
                    alt="">
            <div class="content">
                <h1>Magna etiam lorem sed<br/>
                    tempus adipiscing</h1>
                <ul class="actions special">
                    <li><a href="#" class="button next">Get Started</a></li>
                </ul>
            </div>
    </section>

    <!-- Section -->
    <section class="main style1">
        <header class="small">
            <h2>Ipsum consequat magna<br/>
                sed etiam lorem adipiscing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae,
                dictum nulla. Mauris et euismod sed nunc. Proin vel rhoncus mauris. Quisque mattis dictum etiam.</p>
        </header>
        <div class="image filtered" data-position="center">
            <img src="images/pic10.jpg" alt=""/>
        </div>
        <div class="features">
            <section>
                <span class="icon solid fa-camera-retro major accent2"></span>
                <h3>Etiam</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae,
                    dictum nulla.</p>
            </section>
            <section>
                <span class="icon fa-gem major accent3"></span>
                <h3>Aptent</h3>
                <p>Ut ultrices hendrerit dignissim euismod. Fusce a sem interdum, elementum quam vitae, hendrerit lorem
                    eget.</p>
            </section>
            <section>
                <span class="icon fa-chart-bar major accent4"></span>
                <h3>Magna</h3>
                <p>Donec hendrerit, orci nec eleifend auctor, ipsum pharetra leo, eu imperdiet mauris sem id tellus. In
                    at ex efficitur.</p>
            </section>
            <section>
                <span class="icon solid fa-rss major accent1"></span>
                <h3>Tempus</h3>
                <p>Faucibus ligula, ac blandit purus arcu non sed nibh. Nam aliquam in erat a ultricies. Vivamus leo est
                    lorem finibus.</p>
            </section>
            <section>
                <span class="icon fa-comment-dots major accent2"></span>
                <h3>Aliquam</h3>
                <p>Fermentum integer laoreet sollicitudin tortor et consequat. Phasellus eu lectus. Sed libero quam
                    vehicula eleifend.</p>
            </section>
            <section>
                <span class="icon fa-copy major accent3"></span>
                <h3>Euismod</h3>
                <p>Quisque nec mollis turpis. Phasellus sit amet magna ut quam lacinia interdum. Phasellus varius
                    lobortis dui. </p>
            </section>
        </div>
        <footer>
            <ul class="actions special">
                <li><a href="#" class="button next">Magna Imperdiet</a></li>
            </ul>
        </footer>
    </section>

    <!-- Section -->
    <section class="main style1">
        <header class="small">
            <h2>Lacinia egestas amet
                tincidunt vitae venenatis</h2>
            <p>Ac mollis metus. Nulla tristique urna sit amet sapien placerat euismod. Suspendisse eget viverra ex. Nunc
                vel justo lectus. Suspendisse potenti. Phasellus turpis augue, fringilla ut nisi vel placerat.</p>
        </header>
        <div class="inner">
            <div class="posts">
                <article>
                    <a href="#" class="image filtered"><img src="images/pic01.jpg" alt=""/></a>
                    <p><strong>Magna feugiat etiam</strong> ipsum dolor tempus amet, magna consectetur. Fusce eu lacus
                        imperdiet.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic02.jpg" alt=""/></a>
                    <p><strong>Lorem ipsum dolor</strong> tempus lacus imperdiet cursus sed nisl adipiscing sed dolor.
                    </p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic03.jpg" alt=""/></a>
                    <p><strong>Feugiat tempus</strong> adipiscing sed quisque mattis rhoncus proin, vel mauris dictum
                        nullam.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic04.jpg" alt=""/></a>
                    <p><strong>Enim interdum</strong> dignissim sed orci felis, cursus vitae ipsum. Pulvinar ipsum ex
                        fringilla lorem.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic05.jpg" alt=""/></a>
                    <p><strong>Mollis euismod</strong> maximus amet faucibus integer, tristique et lacus lobortis ligula
                        viverra lorem.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic06.jpg" alt=""/></a>
                    <p><strong>Urna mattis</strong> tempor amet varius lectus, phasellus vel sem elit dignissim sagittis
                        morbi adipiscing.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic07.jpg" alt=""/></a>
                    <p><strong>Rhoncus aliquam</strong> dictum mauris et euismod sed, nunc proin lorem ipsum vitae erat
                        imperdiet.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic08.jpg" alt=""/></a>
                    <p><strong>Fuscue lacus</strong> imperdiet dictum, marus et euismod lorem ipsum dolor sit amet nulam
                        adipiscing.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
                <article>
                    <a href="#" class="image filtered"><img src="images/pic09.jpg" alt=""/></a>
                    <p><strong>Sed malesuada</strong> elit magna tempus dictum vitae erat, consectetur lorem ipsum nulla
                        consequat.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button small next">Details</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="main style2">
        <header class="small">
            <h2>Get in touch</h2>
            <p>Elit dignissim nullam sagittis faucibus dui. Morbi vel nibh mauris. Sed convallis, odio ac posuere
                bibendum, odio elit bibendum magna, eu tempor diam nulla nec felis. Cras convallis tellus ac justo.</p>
        </header>
        <div class="inner special medium">
            <form action="#" method="post">
                <div class="fields">
                    <div class="field half">
                        <input name="name" id="name" placeholder="Name" type="text"/>
                    </div>
                    <div class="field half">
                        <input name="email" id="email" placeholder="Email" type="email"/>
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" rows="8" placeholder="Message"></textarea>
                    </div>
                </div>
                <ul class="actions special">
                    <li><input value="Send Message" class="button next" type="submit"/></li>
                </ul>
            </form>

        </div>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid alt fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

</div>

<!-- Footer -->
<footer id="footer">
    Copyright &copy; Untitled. All rights reserved.
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>