asgiref==3.8.1
boto3==1.34.99
botocore==1.34.101
certifi==2024.2.2
charset-normalizer==2.0.12
dj-database-url==2.1.0
Django==5.0.6
django-admin-interface==0.28.6
django-admin-sortable2==2.1.9
django-appconf==1.0.6
django-bower==5.2.0
django-ckeditor==6.2.0
django-colorfield==0.8.0
django-compressor==3.1
django-compressor-toolkit==0.6.0
django-contact-form==2.0.1
django-cors-headers==4.3.1
django-crispy-forms==1.14.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-js-asset==2.0.0
django-on-heroku==1.1.2
django-resized==0.3.11
django-sass-compiler==1.1.0
django-sass-processor==1.1
django-scheduler==0.9.5
django-storages==1.14.3
django-webpack-loader==1.4.1
djangorestframework==3.15.1
gunicorn==22.0.0
icalendar==4.0.9
idna==3.3
jmespath==1.0.0
libsass==0.21.0
Pillow==9.0.1
psycopg2-binary==2.9.9
python-dateutil==2.8.2
pytz==2022.1
rcssmin==1.1.0
requests==2.31.0
rjsmin==1.2.0
s3transfer==0.10.0
six==1.16.0
sorl-thumbnail==12.8.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
whitenoise==6.0.0
